body {
    background: url('../img/landing_2.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    font-family: GillSans-Light, Lato, Calibri, Trebuchet, sans-serif;
}

.title {
    color: white;
    font-size: 3.5em;
    letter-spacing: 3px;
}

.coming-soon {
    color: white;
    font-size: 2em;
    letter-spacing: 1px;
}

.valign-wrapper {
    height: 100%;
}
